* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,ol {
	list-style: none;
}
a {
	text-decoration: none;
	outline: 0;
}

#slider1 {
  width: 100%; height: 100vh; 
  position: relative; overflow: hidden;
}
#slider1 ul {
  height: 100%; 
  position: absolute; top: 0%;
}
#slider1 ul li {
  height: 100%; float: left;
  filter: brightness(1.6) saturate(1.2);
}
#slider1 ul li[data-index='1'] {
  background: hotpink;
}
#slider1 ul li[data-index='2'] {
  background: orange;
}
#slider1 ul li[data-index='3'] {
  background: aqua;
}

.phone {
  width: 450px; height: 787px; 
  background: url(../img/bgPhone.png) no-repeat 0px 0px;
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.phone #slider2 {
  width: 250px; height: 444px; 
  position: absolute; top: 174px; left: 98px; overflow: hidden;
}
.phone #slider2 ul {
  height: 100%;
  position: absolute; top: 0%;
}
.phone #slider2 ul li {
  height: 100%; float: left;
}
#slider2 ul li[data-index='1'] {
  background: hotpink;
}
#slider2 ul li[data-index='2'] {
  background: orange;
}
#slider2 ul li[data-index='3'] {
  background: aqua;
}




.prev {
  position: absolute; left: 50px; top: 50%; margin-top: -50px;
}
.next {
  position: absolute; right: 50px; top: 50%; margin-top: -50px;
}

